{% extends "MainApp/base.html" %}
{% block title %}DC3 - Все заказы{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="jumbotron">
    <h1 class="display-4">ЗАКАЗЫ</h1>
    <p class="lead">
        Ниже представлен список всех заказов в базе DC3. Для разных проектов и устройств. Под заказами
        подразумевается заказы на изготовление изделий на собственном производстве или на производствах
        компаний аутсорсеров.
    </p>
    <hr class="my-2">
    <a href="{% url 'order_create' %}" class="btn btn-dark">СОЗДАТЬ ЗАКАЗ</a>
    <a href="#" class="btn btn-primary">ПОСМОТРЕТЬ ИНСТРУКЦИЮ</a>
    <hr class="my-2">
    <p>После добавления заказа можно будет добавить в них позиции.</p>

</div>
<table class="table table-bordered col-10" align="center">
        <thead>
            <tr>
                <th scope="">#</th>
                <th scope="">Наименование</th>
                <th scope="">Автор</th>
                <th scope="">Создан</th>
                <th scope="">Проект</th>
                <th scope="">Дата готовности</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{order.pk}}</th>
                    <td><a href="{% url 'order_view' pk=order.pk %}">{{order.info.title}}</a></td>
                    <td>{{order.info.author}}</td>
                    <td>{{order.info.create}}</td>
                    <td>{{order.project.info.title}}</td>
                    <td>{{order.readiness}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}