{% extends "MainApp/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

<div class="jumbotron">
    <h1 class="display-4">DC3 - DETAIL CONTROL V3</h1>
    <p class="lead">
        Система контроля и управления заказами на предприятии НИИ ЛАЗЕРНЫХ ТЕХНОЛОГИЙ.
    </p>
    <hr class="my-3">
    <p class="lead">DC3 поможет добавлять устройства - продукцию которую выпускает компания,
        проекты - определенное исполнение устройства для конекретного заказчика,
        заказы - часть отправляемых на аутсорсинг деталей, а так же создавать
        позиции на кождую деталь, контролировать её перемещение и статус.
    </p>
    <hr class="my-3">
    <p>Перед началом работы с системой DC3 пройдите обучение нажав на кнопку ниже</p>
    <a class="btn btn-primary" href="#" role="button">Смотреть инструкцию</a>
</div>

{% endblock %}